name: "Validate"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v4

  build:
    name: "Jlink Gradle Plugin Validation"
    strategy:
      matrix:
        platform: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: |
            17
            21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.4.0
        with:
          cache-read-only: false

      - name: Execute Gradle build
        run: ./gradlew build
